/* Please see documentation at
   https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
   for details on configuring this project to bundle and minify static web assets.
*/

a.navbar-brand[b-jx2te7e0wa] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jx2te7e0wa] {
  color: #0077cc;
}

/* Buttons */
.btn-primary[b-jx2te7e0wa] {
  color: #ffffff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Navigation */
.nav-pills .nav-link.active[b-jx2te7e0wa],
.nav-pills .show > .nav-link[b-jx2te7e0wa] {
  color: #ffffff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Borders */
.border-top[b-jx2te7e0wa] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-jx2te7e0wa] {
  border-bottom: 1px solid #e5e5e5;
}

/* Utilities */
.box-shadow[b-jx2te7e0wa] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-jx2te7e0wa] {
  font-size: 1rem;
  line-height: inherit;
}

/* Footer */
.footer[b-jx2te7e0wa] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
